body.stdbody {
  background-color: #EDF1FF;
}

nav.navcustom {
  padding-bottom: 0;
  padding-top: 0;
}

.collapsecustom {
  margin-right: 5px;
}

hr {
  margin-bottom: 0px;
  margin-top: 0px;
}

p.custpara {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
}

div.nopadding {
  padding: 0px;
}


div.scrollable{
  overflow-y: scroll;
  height:300px;
  border:solid;
}

table thead tr th {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: black;
}