body.login-body {
  background-image: url(assets/backgroundlogin.png);
  background-repeat: repeat-y;
  background-size: cover;
  width: 100%;
  height: 100%;
}


.container.signin-container {
  margin-top: 8%;
}

.card.signin-card {
  padding: 40px 0px 20px;
  background-color: #f4f4f4;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

img.signin-img {
  padding: 20px;
  display: block;
}

form.signin-form {
  max-width: 350px;
  margin: auto;
}

button.signin-btn {
  color: #ffffff;
  background-color: #d64829;
  width: 100%;
  margin-bottom: 1.2rem;
}

p.loginas {
  font-size: 20px;
  font-family: 'Oswald','sans-sherif';
  margin: 0px;
  padding-right: 0px;
  text-align: right;
}