body.stdbody {
  background-color: #EDF1FF;
}

.rowalt {
  height: 300px;

}

.pic_base {
  margin-top: 10px;
  height: 70%;
  background-color: #34495e;
  background: url('assets/books.jpg');
}

#profile_pic {
  border-radius: 10%;
  border: 1px solid #000;
  box-shadow: 0 3px 4px black;
  box-sizing: border-box;
  position: absolute;
  margin-top: 80px;
  margin-left: 150px;
}

#title {
  position: absolute;
  margin-left: 330px;
  margin-top: 10px;
  color: #1F7A8C;
  font-weight: bold;
  font-family: 'Oswald', serif;
}

nav.navcustom {
  padding-bottom: 0;
  padding-top: 0;
}

.collapsecustom {
  margin-right: 5px;
}

hr {
  margin-bottom: 0px;
  margin-top: 0px;
}

p.completed,
p.notstarted {
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  color: #fc1b1b;
}

p.notcompleted {
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  color: #07bf45;
}

p.custpara {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
}

div.nopadding {
  padding: 0;
}

div.arrow {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  background-color: #1c2d37;

}

div.arrow:hover {
  top: -10px;
}

.custtitle {
  color: #fff;
}

.coursetitlereview {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;

}

