body.stdbody {
  background-color: #EDF1FF;
}

.rowalt {
  height: 300px;

}

.pic_base {
  margin-top: 10px;
  height: 70%;
  background-color: #34495e;
  background: url('assets/books.jpg');
}

#profile_pic {
  border-radius: 10%;
  border: 1px solid #000;
  box-shadow: 0 3px 4px black;
  box-sizing: border-box;
  position: absolute;
  margin-top: 80px;
  margin-left: 150px;
}

#title {
  position: absolute;
  margin-left: 330px;
  margin-top: 10px;
  color: #1F7A8C;
  font-weight: bold;
  font-family: 'Oswald', serif;
}

nav.navcustom {
  padding-bottom: 0;
  padding-top: 0;
}

.collapsecustom {
  margin-right: 5px;
}

hr {
  margin-bottom: 0px;
  margin-top: 0px;
}

p.custpara {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
}

div.nopadding {
  padding: 0px;
}

#Actual {
  padding: 20px;
}

.slideup,
.slidedown {
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: max-height 0.8s ease-in-out;
  -moz-transition: max-height 0.8s ease-in-out;
  -o-transition: max-height 0.8s ease-in-out;
  transition: max-height 0.8s ease-in-out;
}

.slidedown {
  max-height: 500px;
}

div.coursecontainer{
  padding: 10px;
  border: solid;
  border-radius: 10px;
  margin-bottom: 10px;
}

div.toggle{
  margin-bottom: 10px;
}

button.addctopic{
  float:right;
/*  margin-top: 5px;*/
}


h4.batchhead{
  margin: 0px;
  padding-top: 6px;
}

div.card{
  margin: 10px;
}

div.divscroll{
  overflow-y: scroll;
  height:410px;
  border:solid;
  background-color: #074885;
}

h6.topicadded{
  margin-bottom: 20px;
}

p.completed,
p.notstarted {
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  color: #fc1b1b;
}

p.notcompleted {
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  color: #07bf45;
}
